.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
_book/
_book_r/
_book_pdf/
_bookdown_files/
r/libs/
*.log
*.glo
*.ist
*.aux
*.dvi
*.idx
*.out
*.ps
*.toc
*.zip
book_submit/
misc/
other/
proofed_submission/
conf/
